* {
  @import url("https://use.typekit.net/vcl5gde.css");
  font-family: sweet-sans-pro, sans-serif;
}

.Header {
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
font-family: 'Open Sans', sans-serif;
}

/* NAV BAR */


.nav-link , .mr-auto{
  color: #707070;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

#favicon {
  color: #1F8832;
  font-style: bold;
  font-size: 40px;
}

h1 {
  color: #1F8832;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  display: block;
  padding-top: 10px;
  padding-bottom: 20px;
}

/*  ABOUT PAGE  */

.App-header {
  background-color: #F4F7FA;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  display:block; 
}

.about-container {
  padding: 50px;
  display:block; 
}

.Tiffany-Image {
  margin-top: 10%;
  margin-left: -20px;
  border-radius: 160px;
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.about-container-text {
  background-color: white;
  padding: 50px;
}

#about-header {
  font-size: 45px;
  color: #707070;
  font-style: italic;
  padding-bottom: 10px;
}

#about-text {
font-size: 25px;
color: #707070;
line-height: 48px;
}

#link {
  color: #1F8832;
}

/*  FOOTER */
footer {
  background-color: #F4F7FA;
  padding: 25px;
  color: white;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
}

/* Mobile Changes  */

@media (max-width: 500px)
{
    #removeMobile
    {
        display: none;
    }
}