
/*  WEB FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*  SUBTRACT HEADER + FOOTER PIXELS TO MAKE FOOTER STICKY */

* {
  font-family: sweet-sans-pro, sans-serif; 
}

main {
  min-height: calc(100vh - 238px);
  display:block; 
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: #5586B8;
  border: none;
  color: white;
  align-items: center;
}

h1 {
  color: #1F8832;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* NAV BAR */
.nav-link , .mr-auto{
  color: #707070;
  font-size: 20px;
  margin-left: auto;
  margin-right: auto;
}

header {
  font-family: sweet-sans-pro, sans-serif !important;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding: 30px;
  border-top: 2px solid #1F8832;
  border-bottom: 2px solid #1F8832;
}

#favicon {
  color: #1F8832;
  font-style: bold;
  font-size: 40px;
}

/* HEADER DIVIDER CONTAINER */
header {
  font-family: span, serif !important;
}

/*  ABOUT PAGE CONTAINER  */
.App-header {
  background-color: #F4F7FA;
  padding: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-container {
  padding: 50px;
}

.Tiffany-Image {
  margin-top: 10%;
  margin-left: -20px;
  border-radius: 160px;
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.about-container-text {
  background-color: white;
  padding: 50px;
}

#about-header {
  font-size: 45px;
  color: #707070;
  font-style: italic;
  padding-bottom: 10px;
}

#about-text {
font-size: 25px;
color: #707070;
line-height: 48px;
}

#link {
  color: #1F8832;
}

/* FEATURED PROJECTS  */
.wrapper {
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  margin: 1rem;
  position: relative;
  width: 40vh;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  /* overflow: hidden; */
  text-align: center;
}

.card > .content {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 15px;
}

#project-button {
  background-color:  #5586B8;
  color: white;
  border: none;
  font-size: 35px;
  padding: 30px;
  border: 2px solid #5586B8;
}

.profile, .btn-lg {
  display: block;
  margin: 0 auto;
  align-items: center !important;
}

/* SKILLS CONTAINER */

/* display: block !important allows cells to stack on mobile */
th {
  font-weight: lighter;
  /* display: block !important;  */

}

.table-responsive {
  font-size: 40px;
  text-align: center;
  padding: 80px;
  height: 100%;
}

/* RESUME CONTAINER */
.Resume {
  width: 100%;
  background-color: #5586B8;
  color: white;
  padding: 40px;
  font-size: 25px;
  text-align: center;
  }

/* CONTACT CONTAINER  */
.contact-container {
  padding: 70px;
  border-top: 2px solid #1F8832;
  border-bottom: 2px solid #1F8832;
  text-align:center;
}

#contact {
  font-family: span, serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding-bottom: 40px;
}

/* FOOTER */
footer {
  background-color: #F4F7FA;
  padding: 25px;
  color: #707070;
  text-align: center;
}

/* MOBILE RESPONSIVE */
@media only screen and (max-width:660px) {
body {
  margin: 0 !important
}

table, .table-responsive {
  width: 320px !important;
  padding: 0 0;
  min-width: 320px !important;
}

th {
  display: block !important;
  text-align: center;
}
}
