
/*  WEB FONTS */
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

/*  SUBTRACT HEADER + FOOTER PIXELS TO MAKE FOOTER STICKY */

* {
  font-family: sweet-sans-pro, sans-serif; 
  color: #707070;
}

main {
  min-height: calc(100vh - 238px);
  display:block; 
}

body {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

button {
  background-color: #5586B8;
  border-color: #5586B8;
  border: none;
  color: white;
  align-items: center;
}

h1 {
  color: #1F8832;
  font-style: bold;
  font-size: 50px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

/* NAV BAR */
#favicon {
  color: #1F8832;
  font-style: bold;
  font-size: 40px;
  display: none;
}

.TiffanyCasey {
  font-weight: bold;
  font-size: 60px;
}

.nav-link , .mr-auto {  
  font-size: 20px;
  float:right;
  margin-left: auto;
  margin-right: auto;
}

/* unvisited link */
a, .nav-link:link {
  color: #707070 !important;
  text-decoration: none;
}

/* visited link */
a, .nav-link:visited {
  color: #707070 !important;
  text-decoration: none;
}

/* mouse over link */
a, .nav-link:hover {
  color: #1F8832 !important;
  text-decoration: none !important;
}

/* selected link */
a, .nav-link:active {
  color: #707070 !important;
  text-decoration: none;
}

/* HEADER DIVIDER CONTAINER */
header {
  font-family: span, serif !important;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding: 30px;
  border-top: 2px solid #1F8832;
  border-bottom: 2px solid #1F8832;
}

/*  ABOUT PAGE CONTAINER  */
.App-header {
  background-color: #F4F7FA;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a, #link {
  color:#1F8832 !important;
}

.about-container {
  padding: 60px;
}

.Tiffany-Image {
  margin-top: 10%;
  border-radius: 160px;
  width: auto ;
  max-width: 100% ;
  height: auto ;
}

.about-container-text {
  background-color: white;
  padding: 50px;
  border-radius: .5rem
}

#about-header {
  font-size: 45px;
  color: #5586B8;
  font-style: italic;
  padding-bottom: 10px;
}

#about-text {
  font-size: 25px;
  line-height: 48px;
}

#link {
  color: #1F8832;
}

/* FEATURED PROJECTS  */

#projects {
padding-bottom: 0px;
}

.buttonWrapper {
  background-color: #F4F7FA;
  padding-top: 10px;
  padding-bottom: 80px;
}

.wrapper {
  padding: 40px;
  background-color: #F4F7FA;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

.card {
  position: relative;
  width: 60vh;
  text-align: left;
}

.card > .img-container {
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.card > .content {
  text-align: left;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 15px;
}

#project-button {
  background-color: #5586B8;
  color: white;
  border: none;
  font-size: 35px;
  padding: 30px;
  border: 2px solid #5586B8;
}

.profile, .btn-lg {
  display: block;
  margin: 0 auto;
  align-items: center !important;
  font-size: 25px !important;
}

.external-links {
  margin: 20px;
}

.portfolio-link {
  text-align: center;
}

/* unvisited link */
a, #github, #website, .external-links:link {
  color:#1F8832 !important;
  text-decoration: none;
}

/* visited link */
a, #github, #website, .external-links:visited {
  color:#1F8832 !important;
  text-decoration: none;
}

/* mouse over link */
a, #github, #website, .external-links:hover {
  color: #1F8832!important;
  text-decoration: none;
}

/* selected link */
a, #github, #website, .external-links:active {
  color: #1F8832 !important;
  text-decoration: none;
}

/* SKILLS CONTAINER */

/* display: block !important allows cells to stack on mobile */
th {
  font-weight: lighter;
}

.resumeWrapper {
  padding-top: 40px;
}

.table-responsive {
  background-color: #F4F7FA;
  font-size: 40px;
  text-align: center;
  padding: 80px;
  height: 100%;
}

/* unvisited link */
a, #portfolioButton:link {
  color: white;
  text-decoration: none;
}

/* visited link */
a, #portfolioButton:visited {
  color: white;
  text-decoration: none;
}

/* mouse over link */
a, #portfolioButton:hover {
  color: white !important;
  text-decoration: none !important;
}

/* selected link */
a, #portfolioButton::active {
  color: white;
  text-decoration: none;
}

/* RESUME CONTAINER - CURRENTLY INACTIVE */
.Resume {
  color: white !important;
  padding: .5rem 1rem;
  border-radius: .3rem;
  font-size: 25px;
  text-align: center;
  background-color: #5586B8;
  border: 2px solid #5586B8;
  border: none;
  border: none;
  }

/* CONTACT CONTAINER  */
.icon-github {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.icon-linkedin {
  width: 60px;
  height: 60px;
  padding: 10px;
}

.icons {
  align-content: center;
  text-align: center;
  padding-bottom: 20px;;
}

.contact-container {
  padding: 70px;
  border-top: 2px solid #1F8832;
  border-bottom: 2px solid #1F8832;
  text-align:center;
}

#main-contact {
  background-color: #F4F7FA;
}

#contact-page-text {
  line-height: 40px;
  text-align: center;
  font-size: 25px;
  line-height: 48px;
  margin-left: 350px;
  margin-right: 350px;
}

.page-header {
  background-color: #F4F7FA;
  font-family: span, serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding: 40px;
}

#contact-button {
  background-color: #5586B8;
  border-color: #5586B8;
  border: none;
  color: white;
  font-size: 20px;
  padding: 10px;
  margin-top: 20px;
  border: 2px solid #5586B8;
  border-radius: .5rem;
}

.ui-form {
  padding: 40px;
  font-size: 20px;
  display: block;
  align-items: center !important;
  width: 100%;
}

/* FOOTER */
footer {
  background-color: #F4F7FA;
  padding: 25px;
  text-align: center;
}

/* ********MOBILE RESPONSIVE******* */
/* ********************************
 */

@media only screen and (max-width:660px) {
body {
  margin: 0 !important
}

/* HEADER */
/* removes full logo when in mobile mode */
#removeMobile {
  display: none;
}
/* adds abbreviated log in mobile mode */
#favicon {
  display: flex;
  color: #1F8832 !important;
}

/* ABOUT  */
.App-header {
  background-color: #F4F7FA;
  padding-top: 0px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.about-container {
  padding: 0px;
}

.Tiffany-Image {
  padding-bottom: 40px;
  padding: 40px;
  margin-top: 0px;

}

p, #about-text {
  font-size: 18px;
  line-height: 40px;
}

p, #about-header {
  font-size: 40px;
}

/* PORTFOLIO  */

.card {
  position: relative;
  width: 40vh;
  text-align: left;
}

.wrapper {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow: auto;
}

p, #card-text {
  font-size: 14px;
  line-height: 30px;
}

p, #card-title {
  font-size: 16px !important;
  line-height: 30px;
}

#github, #website{
    font-size: 15px !important;
    margin:5px;
}

.buttonWrapper {
    padding-bottom: 30px;
}

/* SKILLS */
table, .table-responsive {
  width: 320px !important;
  padding: 0 0;
  min-width: 320px !important;
}

th {
  display: block !important;
  text-align: center;
  font-size: 25px;
  line-height: 20px;
}

div, .resumeWrapper {
  padding-top: 0px;
}

.ui-form {
  padding: 0px;
  font-size: 20px;
  display: block;
  align-items: center !important;
  width: 100%;
}

/* CONTACT */
p, #contact-page-text {
  padding: 20px;
  margin: 0px;
  line-height: 35px;
}

.page-header {
  font-family: span, serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding-bottom: 0px;
}


   
}
