body {
  margin: 0;
  font-family: sweet-sans-pro, sans-serif;
  font-style: normal;
  font-weight: 100;
}

header {
  font-family: span, serif;
  font-weight: 600;
  font-style: normal;
  text-align: center;
  font-size: 40px;
  color: #EDC53A;
  padding: 30px;
  border-top: 2px solid #1F8832;
  border-bottom: 2px solid #1F8832;
}

.Resume {
width: 100%;
background-color: #5586B8;
border: none;
color: white;
padding: 20px;
font-size: 25px;
}


